body {
    margin: 0;
    font-family: 'Oleo Script', cursive;
    -webkit-font-smoothing: antialiased;

}

button:focus,
input:focus {
    outline: 0;
}

h1 {
    margin: 0;
}

.introContentContainer {
    display: block;
    width: 40em;
    height: 12em;
    margin: 0 auto;
    border: 0;
    position: relative;
    top: 12em;
}

.introTitle {
    text-align: center;
    position: relative;
    top: 15%;
    font-size: 2em;
    margin-left: -8.5em;
}

.introSearch {
    width: 19em;
    height: 2.5em;
    font-size: 0.85em;
    border: lightgrey solid 1px;
    padding-left: 2em;
    margin: 2em 6em 0em 4em;
}

.introSubmit {
    cursor: pointer;
    margin-top: 5em;
    width: 9em;
    height: 2em;
    border: 0;
    font-weight: bold;
    font-size: 0.75em;
    margin: 3em 10.5em;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.introSearch:hover,
#topBarSearch:hover {
    border: darkgrey solid 1px;
}

.introSubmit:hover,
#topBarSubmit:hover {
    border: darkgrey solid 1px;
    background-color: lightblue;
}

.introSearch:focus,
.introSubmit:focus,
#topBarSearch:focus,
#topBarSubmit:focus {
    border: #1f94f4 solid 1px;
}

.topBarContainer {
    width: 100%;
    height: 4em;
}

#topBarTitle {
    top: 12%;
    width: 100%;
    height: 1em;
    text-align: center;
}

.topInfoContainer {
    width: 14em;
    height: 2em;
    margin: 3em auto;
}

.paginationContainer {
    width: 12em;
    height: 1em;
    margin: 0 auto;
}

#positioning {
    margin-top: 1em;
    position: absolute;
}

#topBarSearch {
    text-align: center;
    width: 15em;
    height: 2.5em;
    font-size: 0.85em;
    border: lightgrey solid 1px;
    margin: 1em 0em 0em 0.5em;
}

#topBarSubmit {
    cursor: pointer;
    margin: 1em 0em 0em 2.75em;
    width: 13em;
    height: 2.5em;
    border: 0;
    font-weight: bold;
    font-size: 0.75em;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.imageArea {
    width: 100%;
    height: 100em;
    background-color: white;
}

.imageLink {
    overflow: hidden;
    float: left;
    width: 25%;
    height: 8%;
}

.flickrImage {
    height: 100%;
    width: 100%;
    transition: all 1s ease;
}

.imageArea,
.topBarContainer,
#positioning {
    display: none;
}

.flickrImage:hover {
    opacity: 0.2;
    width: 125%;
    height: 125%;
}

.linkTitle {
    display: none;
    position: absolute;
    font-size: 0.45em;
    color: black;
    margin: 5.5em 0em 0em 2em;
}

.imageLink:hover > .linkTitle {
    display: block;
}

.zeroImages {
    margin-left: 30%;
    font-size: 2em
}

@media only screen and (min-width: 600px) {
    .topInfoContainer {
        width: 36em;
    }

    .introTitle {
        font-size: 2.5em;
        margin-left: 0em;
    }

    .introSearch {
        width: 26em;
        margin: 3em 6em 0em 10.5em;
    }

    .introSubmit {
        width: 11em;
        height: 3em;
        margin: 3em 20.5em;
    }
    #topBarSearch {
        text-align: center;
        width: 20em;
        margin-left: 4em;
    }
    #topBarSubmit {
        width: 15em;
    }
    .imageLink {
        height: 10%;
    }
    .linkTitle {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 900px) {
    .imageLink {
        height: 15%;
    }
    .linkTitle {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1100px) {
    .imageLink {
        height: 18%;
    }
    .linkTitle {
        font-size: 1.2em;
    }
}
