body {
  margin: 0;
  font-family: 'Oleo Script'; }

button:focus,
input:focus {
  outline: 0; }

h1 {
  margin: 0; }

.introContentContainer {
  display: block;
  height: 12em;
  margin: 0 auto;
  border: 0;
  position: relative;
  top: 12em; }
  .introContentContainer .introTitle {
    text-align: center;
    margin-top: -1.5em; }
  .introContentContainer .introSearch {
    width: 20em;
    height: 2.5em;
    font-size: 0.85em;
    border: lightgrey solid 1px;
    margin: 3em auto;
    display: block;
    text-align: center; }
  .introContentContainer .introSubmit {
    cursor: pointer;
    margin-top: 5em;
    width: 13em;
    height: 3em;
    border: 0;
    font-weight: bold;
    font-size: 0.75em;
    margin: 3em auto;
    display: block;
    background-color: lightgrey;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear; }
  .introContentContainer .introSearch:hover {
    border: darkgrey solid 1px; }
  .introContentContainer .introSubmit:hover {
    border: darkgrey solid 1px;
    background-color: lightblue; }
  .introContentContainer .introSearch:focus,
  .introContentContainer .introSubmit:focus {
    border: #1f94f4 solid 1px; }

.topBarContainer {
  width: 100%;
  height: 4em;
  display: none;
  margin-bottom: 9em; }
  .topBarContainer #topBarTitle {
    top: 12%;
    width: 100%;
    height: 1em;
    font-size: 2em;
    text-align: center; }
  .topBarContainer .topInfoContainer {
    margin-top: 1em; }
    .topBarContainer .topInfoContainer #topBarSearch {
      text-align: center;
      width: 15em;
      height: 2.5em;
      font-size: 0.85em;
      border: lightgrey solid 1px;
      margin: 0 auto;
      display: block; }
    .topBarContainer .topInfoContainer #topBarSubmit {
      cursor: pointer;
      background-color: lightgrey;
      margin: 1em auto;
      display: block;
      width: 13em;
      height: 2.5em;
      border: 0;
      font-weight: bold;
      font-size: 0.75em;
      -webkit-transition: background 0.5s linear;
      -moz-transition: background 0.5s linear;
      -o-transition: background 0.5s linear;
      transition: background 0.5s linear; }
    .topBarContainer .topInfoContainer #topBarSearch:hover {
      border: darkgrey solid 1px; }
    .topBarContainer .topInfoContainer #topBarSubmit:hover {
      border: darkgrey solid 1px;
      background-color: lightblue; }
    .topBarContainer .topInfoContainer #topBarSearch:focus,
    .topBarContainer .topInfoContainer #topBarSubmit:focus {
      border: #1f94f4 solid 1px; }
  .topBarContainer .paginationContainer {
    width: 11.3em;
    height: 1em;
    margin: 0 auto; }
    .topBarContainer .paginationContainer #positioning {
      margin-top: 1em;
      position: absolute;
      display: none; }
    .topBarContainer .paginationContainer .pagination {
      margin: 0;
      font-size: 0.8em; }

.imageArea {
  width: 100%;
  height: 100em;
  background-color: white;
  display: none; }
  .imageArea .imageLink {
    overflow: hidden;
    float: left;
    width: 50%;
    height: 10%; }
    .imageArea .imageLink .flickrImage {
      height: 100%;
      width: 100%;
      transition: all 1s ease; }
    .imageArea .imageLink .flickrImage:hover {
      opacity: 0.2;
      width: 125%;
      height: 125%; }
    .imageArea .imageLink .linkTitle {
      display: none;
      position: absolute;
      font-size: 0.8em;
      color: black;
      margin: 3em 0em 0em 2em;
      line-height: 2em; }
  .imageArea .zeroImages {
    margin-left: 30%;
    font-size: 2em; }

.imageArea,
.topBarContainer,
#positioning {
  display: none; }

.imageLink:hover > .linkTitle {
  display: block; }

@media only screen and (min-width: 600px) {
  .introContentContainer .introTitle {
    font-size: 3.25em; }
  .introContentContainer .introSearch {
    font-size: 1em; }
  .introContentContainer .introSubmit {
    font-size: .9em; }
  .topBarContainer {
    margin-bottom: 10.5em; }
    .topBarContainer #topBarTitle {
      font-size: 2.5em; }
    .topBarContainer .topInfoContainer #topBarSearch {
      width: 17em;
      font-size: 0.9em; }
    .topBarContainer .topInfoContainer #topBarSubmit {
      font-size: 0.9em; }
    .topBarContainer .paginationContainer {
      width: 12em; }
      .topBarContainer .paginationContainer .pagination {
        font-size: 1em;
        width: 15em; }
  .imageArea .imageLink {
    width: 25%; }
    .imageArea .imageLink .linkTitle {
      margin: 4em 0em 0em 1em;
      font-size: 0.7em; } }

@media only screen and (min-width: 800px) {
  .imageArea .imageLink .linkTitle {
    font-size: .9em; } }

@media only screen and (min-width: 900px) {
  .introContentContainer .introTitle {
    font-size: 4.25em; }
  .introContentContainer .introSearch {
    width: 25em; }
  .introContentContainer .introSubmit {
    width: 15em; }
  .topBarContainer {
    margin-bottom: 12em; }
    .topBarContainer #topBarTitle {
      font-size: 3em; }
    .topBarContainer .topInfoContainer #topBarSearch {
      width: 20em;
      font-size: 1em; }
    .topBarContainer .topInfoContainer #topBarSubmit {
      font-size: 1em; }
    .topBarContainer .paginationContainer .pagination {
      font-size: 1.2em;
      width: 15em; }
  .imageArea .imageLink {
    height: 15%;
    font-size: 1.2em; } }
